<ion-header>
    <ion-toolbar>
      <ion-title  dir="rtl">قائمة التبرعات</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen=true>
    <ion-labal> jhgjhcjjjh</ion-labal>
      <ion-list>
        <select [(ngModel)]="donations_info.furniture">
          <option value="bed">أسرة </option>
          <option value="Couch">كنب</option>
          <option value="board">مجلس</option>
          <option value="chair">كرسي</option>
          <option value="table">طاولة</option>
          <option value="abjoura">أبجورة</option>
          <option value="artificial_flowers">ورد صناعي </option>
          <option value="Clothes_hanger">شماعة ملابس </option>
          <option value="Cupboards"> دواليب </option>
          <option value="Kitchens">مطابخ </option>
          <option value="Mattress">مرتبة سرير</option>
          <option value="Rests"> مساند</option>
          <option value="Wall_hangings">معلقات جدارية</option>
          <option value="Ladder"> سلم صعود </option>
          <option value="Bedrooms">غرفة نوم</option>
          <option value="sofa">أريكة</option>
          <option value="Dining table">طاولة طعام </option>
          <option value="Coffee_table">طاولة قهوة</option>
          <option value="TV_table">طاولة تلفزيون</option>
          <option value="Side_tables">طاولات جانبية </option>
          <option value="Brush">فرشة</option>
          <option value="Felt_bed">لباد سرير</option>
          <option value="Pillows">مخدات</option>
          <option value="other">أخرى</option>
        </select>
        <ion-item >
          <ion-input  dir="rtl"  [(ngModel)]="donations_info.clothes" placeholder="النوع"></ion-input>
        </ion-item>

    </ion-list>
    <ion-button  (click)="donationModal()" mode="ios" expand="block"  color="green" fill="outline" class="ion-margin-top" >
        ارسال
    </ion-button>
  </ion-content>
   